apiVersion: keda.sh/v1alpha1
kind: ScaledJob
metadata:
  name: myconsumer
spec:
  jobTargetRef:
    template:
      metadata:
        labels:
          azure.workload.identity/use: "true"
      spec:
        serviceAccountName: {{ .Values.serviceAccount.name }}
        containers:
        - image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          name: myconsumer
          env:
          - name: OPERATION_MODE
            value: "consumer"
          - name: MESSAGE_COUNT
            value: "10"
          - name: AZURE_SERVICEBUS_QUEUE_NAME
            value: myqueue
          - name: AZURE_SERVICEBUS_HOSTNAME
            value: {{ .Values.serviceBus.namespace }}.servicebus.windows.net
        restartPolicy: Never
  triggers:
  - type: azure-servicebus
    metadata:
      queueName: myqueue
      namespace: {{ .Values.serviceBus.namespace }}
      messageCount: "10"
    authenticationRef:
      name: azure-servicebus-auth